    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-6 col-lg-4 ">
                        <div class="footer_widget">
                            <div class="footer_logo">
                                <a href="{{ base_url }}">
                                    <img src="{{ theme_url }}/assets/img/logo.png" alt="">
                                </a>
                            </div>
                            {{ theme.contact.email.text|raw }}
                            <p class="address_text">{{ theme.footer.description|raw }}</p>
                            <div class="socail_links">
                                <ul>
                                    {% if theme.social.facebook is not empty %}
                                    <li><a href="{{ theme.social.facebook }}"><i class="ti-facebook"></i></a></li>
                                    {% endif %}
                                    {% if theme.social.twitter is not empty %}
                                    <li><a href="{{ theme.social.twitter }}"><i class="ti-twitter-alt"></i></a></li>
                                    {% endif %}
                                    {% if theme.social.linkedin is not empty %}
                                    <li><a href="{{ theme.social.linkedin }}"><i class="fa fa-linkedin"></i></a></li>
                                    {% endif %}
                                    {% if theme.social.instagram is not empty %}
                                    <li><a href="{{ theme.social.instagram }}"><i class="fa fa-instagram"></i></a></li>
                                    {% endif %}
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">{{ theme.footer.widget_1.title }}</h3>
                            <ul class="links">
                            {% for key,value in theme.footer.widget_1.list %}
                                <li><a href="{{ value }}">{{ key }}</a></li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4  col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">{{ theme.footer.widget_2.title }}</h3>
                            <ul class="meting_time">
                            {% for key,value in theme.footer.widget_2.list %}
                                <li class="d-flex justify-content-between"><span>{{ key }}</span> <span>{{ value }}</span></li>
                            {% endfor %}
                            </ul>
                            <a href="tel:{{ theme.contact.telephone.phone }}" class="d-flex justify-content-between boxed-btn3-white-2">
                                <span>7/24</span> <span>{{ theme.contact.telephone.phone }}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="row">
                    <div class="bordered_1px "></div>
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> {{ theme.footer.copy|raw }}
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>